h1{
    font-size: 70px;
    align-content: center;
    text-align: center;
    color: brown;
}
h3{
    font-size: 50px;
    text-align: center;
}
p{
    display:inline-block;
    width: 40px;
    padding:80px;
    text-align: center;
    margin-right: 30px;
    

}
img{
    display: inline-block;
    width: 90px; 
  
}